<h1>Recap of bookings</h1>
<p>Below a list of all the bookings of your bridge</p>

<% @bookings.each_with_index do |booking, index| %>
<h2>Booking nr: <%= index + 1 %></h2>
  <ul>
    <li>Checkin date: <%= booking.checkin_date %></li>
    <li>Checkout date: <%= booking.checkout_date %></li>
    <li>Price: <%= booking.price %> €</li>
      <% if booking.people == 1  %>
        <li><%= booking.people %> hobo occupied</li>
      <% else %>
        <li><%= booking.people %> hobos occupied</li>
      <% end %>
  </ul>

<% end %>
