<h1>Confirm your booking options</h1>
<p>Almost there...</p>

<p>Bridge <strong><%= @bridge.name %></strong></p>
<p><em><%= @bridge.description %></em></p>
<p> <%= @bridge.address + " " + @bridge.city + " "+ @bridge.country %></p>

<%= simple_form_for [@bridge, @booking] do |f| %>
  <%= f.input :checkin_date %>
  <%= f.input :checkout_date %>
  <%= f.input :people %>
  <%= f.input :price %>
  <%= f.button :submit, class: "btn btn-success" %>
<% end %>

 <%= link_to 'Go back', bridge_path(@bridge), class: "btn btn-primary"%>

