<h1>Hello <%= current_user.first_name %>, this is your booking recap</h1>
<h2><%= @booking.bridge.name %></h2>

  <ul>
    <li>Checkin date: <%= @booking.checkin_date %></li>
    <li>Checkout date: <%= @booking.checkout_date %></li>
    <li>Price: <%= @booking.price %> €</li>
      <% hobo = "hobo" %>
      <% count = @booking.people %>
    <li><%= pluralize(count, hobo) %> occupied</li>
  </ul>
  <%= link_to 'Review', new_bridge_booking_comment_path(@bridge, @booking), class: "btn btn-success"%>
