<h1>Hello <%= current_user.first_name %>, this is your booking recap</h1>
<h2><%= @booking.bridge.name %></h2>

  <ul>
    <li>Checkin date: <%= @booking.checkin_date %></li>
    <li>Checkout date: <%= @booking.checkout_date %></li>
    <li>Price: <%= @booking.price %> €</li>
      <% if @booking.people == 1  %>
        <li><%= @booking.people %> hobo occupied</li>
      <% else %>
        <li><%= @booking.people %> hobos occupied</li>
      <% end %>
  </ul>
  <%= link_to 'Go back', bridge_bookings_path, class: "btn btn-primary"%>
