
<h1>Bridge Summary</h1>
<h2>Name: <%= @bridge.name %></h2>
<table class="table table-striped table-hover table-responsive">
  <tr>
    <td><strong>Type</strong></td>
    <td><%= @bridge.bridge_type.capitalize %></td>
  </tr>
   <tr>
    <td><strong>Description</strong></td>
    <td><%= @bridge.description %></td>
  </tr>
   <tr>
    <td><strong>Address</strong></td>
    <td><%= @bridge.address %></td>
  </tr>
  <tr>
    <td><strong>Capacity</strong></td>
    <td><%= @bridge.capacity %> hobos</td>
  </tr>
   <tr>
    <td><strong>Price</strong></td>
    <td><%= @bridge.price %> EUR</td>
  </tr>
</table>


<%= link_to "Go back to bridges", bridges_path(@bridges), class: "btn btn-primary"  %>

<%= link_to "Edit bridge", edit_bridge_path, class: "btn btn-warning"%>
<%= link_to "Delete bridge", bridge_path(@bridge), method: :delete, class: "btn btn-danger" %>
<%= link_to "Book this bridge", new_bridge_booking_path(@bridge, checkin: params[:checkin], checkout: params[:checkout], people: params[:people]), class: "btn btn-success" %>
<%= link_to "View reviews", bridge_comments_path(@bridge), class: "btn btn-default" %>
